.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  text-align: center;
  font-family: Jost;
  margin: 60px;


}

button{
align-tracks: center;
background-color: #c853ad;
font-family: Jost;
border: none;
border-radius: 23px;
padding: 20px;
font-size: larger;
display: block;
margin: auto;

}
button :hover button{
  background-color: #ca089d;
}
img {
  border: none;
  border-radius: 23px;
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 400px;
  width: 600px;

}
h2 {
  text-align: center;
  font-family: Jost;
  margin: 60px;

}